<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Wael Hazeem</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link ">Contant me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<svg width="246.35316" height="308.37711" viewBox="0 0 65.180941 81.591443" version="1.1" id="svg1"
  xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs1" />
  <g id="layer1" transform="translate(-0.77807021,-2.8980846)">
    <circle style="fill:#67cbff;fill-opacity:1;stroke-width:1.96828" id="path2" cx="37.302101" cy="-31.554996"
      transform="scale(1,-1)" r="28.656912" />
    <path style="fill:#ff6767;fill-opacity:1;stroke-width:2.01038" d="M 0.77807021,84.489526 H 51.126554 V 19.755818 Z"
      id="path1" />
  </g>
</svg>
<router-outlet />

<footer>

</footer>